span.PrivateTabIndicator-root-1.PrivateTabIndicator-colorPrimary-2.MuiTabs-indicator {
  background-color: #91b858 !important;
  top: 3px;
}

span.PrivateTabIndicator-root-1.PrivateTabIndicator-colorPrimary-2.MuiTabs-indicator::after {
  width: 0px;
  height: 0px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #91b858;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -3px;
}
